version: '3.8'
services:
  dev-db:
    image: postgres:latest
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: nest
    ports:
      - "5432:5432"
    networks:
      - mynetwork

networks:
  mynetwork:
